tituloTT-numeroTT-MobileD/*.aux
tituloTT-numeroTT-MobileD/*.glo
tituloTT-numeroTT-MobileD/*.idx
tituloTT-numeroTT-MobileD/*.log
tituloTT-numeroTT-MobileD/*.toc
tituloTT-numeroTT-MobileD/*.ist
tituloTT-numeroTT-MobileD/*.acn
tituloTT-numeroTT-MobileD/*.acr
tituloTT-numeroTT-MobileD/*.alg
tituloTT-numeroTT-MobileD/*.bbl
tituloTT-numeroTT-MobileD/*.blg
tituloTT-numeroTT-MobileD/*.dvi
tituloTT-numeroTT-MobileD/*.glg
tituloTT-numeroTT-MobileD/*.gls
tituloTT-numeroTT-MobileD/*.ilg
tituloTT-numeroTT-MobileD/*.ind
tituloTT-numeroTT-MobileD/*.lof
tituloTT-numeroTT-MobileD/*.lot
tituloTT-numeroTT-MobileD/*.maf
tituloTT-numeroTT-MobileD/*.mtc
tituloTT-numeroTT-MobileD/*.mtc1
tituloTT-numeroTT-MobileD/*.out
tituloTT-numeroTT-MobileD/*.synctex.gz